body {
    background-color: white;
    color: black;
}
img {
    width: 943,612px;
    height: 387px;
    flex-shrink: 0;
}
.one {
    color: black;
    width: 49,204px;
    height: 23,034px;
    flex-shrink: 0;
}
.second {
    width: 82,342px;
    height: 23,034px;
    flex-shrink: 0;
}